<div class="col-md-12">

  {#  {{ form_start(form) }}
        {{ form_row(form.file) }}

    <button type="submit"  class="btn btn-fill btn-outline-success">Importer Infrastructure</button>
    {{ form_end(form) }}#}
    <form id="infra" method="post" action="{{ path("insertequipement",{"id": id}) }}" enctype='multipart/form-data'>
        <h4 class="card-title">Choix de fichier des équipements</h4>

            <input type="file" name="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">

    <input type="submit" value="Importer Infrastructure" class="btn btn-fill btn-outline-success">

    </form>

</div>
