
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# npm/yarn
/node_modules
/npm-debug.log

# public
/public/uploads/documents/*
/public/uploads/DB/*
/public/uploads/images/*

!/public/uploads/documents/.gitkeep
!/public/uploads/documents/licences/.gitkeep
!/public/uploads/documents/conf/.gitkeep
!/public/uploads/images/.gitkeep
!/public/uploads/images/companiesInterne/.gitkeep
!/public/uploads/DB/.gitkeep
!/public/uploads/DB/Equipement/.gitkeep
!/public/uploads/DB/Infrastructures/.gitkeep

