<div class="col-md-12">
    <form id="infra" method="post" action="{{ path("insertInfra",{"id": id}) }}" enctype='multipart/form-data'>
        <h4 class="card-title">Choix de fichier des</h4>

            <input type="file" name="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">

    <input type="submit" value="Importer Infrastructure" class="btn btn-fill btn-outline-success">

    </form>

</div>