

        <div class="card card-upgrade">
            <div class="card-header text-center">
                <h4 class="card-title">document {{ document.id }}</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive table-upgrade">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Licence</th>
                            <th class="text-center">Configuration</th>
                        </tr></thead>
                        <tbody>
                        <tr>
                            <td class="text-center">{{ document.licenseName }}</td>
                            <td class="text-center">{{ document.configurationName }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
